<section>
    <h4 class="text-info">B. Setzen Sie bitte die folgenden Sätze ins Passiv! Ändern Sie aber nicht die Zeit!</h4>
    <p>1. Die Schule hat dem jungen Menschen wertvolle Kenntnisse gegeben.
        <input ng-change="textChanges()"ng-model="data.a0201"class="input-block-level"/></p>
    <p>2. Die Schule muss einen bedeutenden Beitrag für die Bewältigung des späteren Lebens leisten.
        <input ng-change="textChanges()"ng-model="data.a0202"class="input-block-level"/></p>
    <p>3. Umgefallene Bäume blockierten viele Straßen bei dem Sturm.
        <input ng-change="textChanges()"ng-model="data.a0203"class="input-block-level"/></p>
    <p>4. Die Firma bringt die Geräte nach der Reparatur wieder ins Haus, damit man sie noch mal überprüfen kann.
        <input ng-change="textChanges()"ng-model="data.a0204"class="input-block-level"/></p>
</section>
<hr/>
<div class="btn-toolbar offset9">
    <div class="btn-group">
        <a class="btn btn-primary" href="#/viewA">&larr; Zurück</a>
        <a class="btn btn-primary" href="#/viewC">Weiter &rarr;</a>
        <a class="btn btn-inverse disabled" type="submit">Submit</a>
    </div>
</div>