<section>
    <h4 class="text-info">A. Konjunktionen: Setzen Sie die passenden Satzverbindungen ein!</h4>
    <p>1. Die Sonne scheint. 
        <input ng-change="textChanges()"ng-model="data.a0101" class="input-mini"/> ist es noch ziemlich kalt.</p>
    <p>2. Du fährst gern in Urlaub, 
        <input ng-change="textChanges()"ng-model="data.a0102" class="input-mini"/> 
        du dich für fremde Länder interessierst.</p>
    <p>3. Er muss sich beeilen, 
        <input ng-change="textChanges()"ng-model="data.a0103" class="input-mini"/> noch pünktlich zu kommen.</p>
    <p>4. Sie hat sich sehr darüber gefreut,
        <input ng-change="textChanges()"ng-model="data.a0104" class="input-mini"/> sie die Prüfung bestanden hat.</p>
    <p>5. Komm bitte mal her,
        <input ng-change="textChanges()"ng-model="data.a0105" class="input-mini"/> ich verstehe dich sonst nicht.</p>
    <p>6. Du bekommst Ärger,
        <input ng-change="textChanges()"ng-model="data.a0106" class="input-mini"/> du deine Miete nicht bezahlen kannst.</p>
    <p>7. <input ng-change="textChanges()"ng-model="data.a0107" class="input-mini"/> Robert Urlaub hat, bleibt er zu Hause.</p>
    <p>8. Wie geht es Herrn Schmidt? – Ach, nicht so gut. Er hat
        <input ng-change="textChanges()"ng-model="data.a0108" class="input-mini"/> eine Frau
        <input ng-change="textChanges()"ng-model="data.a0109" class="input-mini"/> einen Job.</p>
</section>
<hr/>
<div class="btn-toolbar offset9">
    <div class="btn-group">
        <a class="btn btn-inverse disabled">&larr; Zurück</a>
        <a class="btn btn-primary" href="#/viewB">Weiter &rarr;</a>
        <a class="btn btn-inverse disabled" type="submit">Submit</a>
    </div>
</div>