<section>
    <h4 class="text-center text-error">Ein angespanntes Betriebsklima!</h4>
    <br/>
    <h4 class="text-info">D. Setzen Sie Reflexivpronomen und Endungen ein!</h4>
    <p>
        Herr Nörgel und Herr Zank sind Kollegen und sitzen leider zusammen in einem Büro. Früher haben sie
        <input ng-change="textChanges()"ng-model="sectionA.a0401" class="input-mini"/> über alles unterhalten und 
        <input ng-change="textChanges()"ng-model="sectionA.a0402" class="input-mini"/> oft eine Zigarette angesteckt.
        Dann hat Herr Nörgel mit 
        <input ng-change="textChanges()"ng-model="sectionA.a0403" class="input-mini" placeholder="d..."/> Rauchen aufgehört. Jetzt kämpft er gegen
        <input ng-change="textChanges()"ng-model="sectionA.a0404" class="input-mini" placeholder="d..."/> Qualm (mask.) von Herrn Zank. Am Anfang haben sie
        <input ng-change="textChanges()"ng-model="sectionA.a0405" class="input-mini"/> jeden Tag über dies 
        <input ng-change="textChanges()"ng-model="sectionA.a0406" class="input-mini"/> Thema gestritten.
        Aber jetzt spricht der eine nicht einmal mehr mit
        <input ng-change="textChanges()"ng-model="sectionA.a0407" class="input-mini" placeholder="d..."/> anderen. Jeder ärgert 
        <input ng-change="textChanges()"ng-model="sectionA.a0408" class="input-mini"/> über sein 
        <input ng-change="textChanges()"ng-model="sectionA.a0409" class="input-mini"/>
        Kollegen und beklagt 
        <input ng-change="textChanges()"ng-model="sectionA.a0410" class="input-mini"/> über dies
        <input ng-change="textChanges()"ng-model="sectionA.a0411" class="input-mini"/> bei
        <input ng-change="textChanges()"ng-model="sectionA.a0412" class="input-mini" placeholder="d..."/> Chef.
        Der Chef bittet beide um Verständnis für einander.
    </p>
    <h4 class="text-info">E. Setzen Sie Präpositionen und Pronominaladverbien ein!</h4>
    <p>
        Aber keiner von beiden will sich 
        <input ng-change="textChanges()"ng-model="sectionA.a0413" class="input-mini"/> sein Verhalten entschuldigen.
        Die anderen Kollegen wundern sich nur noch 
        <input ng-change="textChanges()"ng-model="sectionA.a0414" class="input-mini"/> die beiden. Manchmal lachen auch alle
        <input ng-change="textChanges()"ng-model="sectionA.a0415" class="input-mini"/> den "Zigarettenkrieg" und auch
        <input ng-change="textChanges()"ng-model="sectionA.a0416" class="input-mini"/>, dass es so weit kommen konnte. Im Moment glaubt niemand
        <input ng-change="textChanges()"ng-model="sectionA.a0417" class="input-mini"/>, dass die beiden sich versöhnen könnten.
        Herr Nörgel und Herr Zank leiden beide <input ng-change="textChanges()" ng-model="sectionA.a0418" class="input-mini"/>
        der Situation und sie können sich nicht mehr
        <input ng-change="textChanges()"ng-model="sectionA.a0419" class="input-mini"/> ihre Arbeit konzentrieren.
        Herr Nörgel hat sich schon <input ng-change="textChanges()"ng-model="sectionA.a0420" class="input-mini"/>
        einen anderen Arbeitsplatz bemüht.
        Und auch Herr Zank bewirbt sich jetzt <input ng-change="textChanges()"ng-model="sectionA.a0421" class="input-mini"/> einer anderen Firma.
        Leider können beide <input ng-change="textChanges()"ng-model="sectionA.a0422" class="input-mini"/> dem Streit nicht mehr aufhören.
    </p>
</section>
<hr/>
<div class="btn-toolbar offset9">
    <div class="btn-group">
        <a class="btn btn-primary" href="#/view3">&larr; Zurück</a>
        <a class="btn btn-inverse disabled">Weiter &rarr;</a>
        <a class="btn btn-danger" type="submit">Submit</a>
    </div>
</div>