<section>
    <h4 class="text-info">C. Formen Sie die folgenden Sätze in Relativsätze um!</h4>
    <p>1. Meine Kollegen sind schon nach Hause gegangen. Sie haben ihre Arbeit erledigt.
        <input ng-change="textChanges()"ng-model="sectionA.a0301" class="input-block-level"/></p>
    <p>2. Zeige mir bitte den Weg! Wir sind ihn gestern gefahren.
        <input ng-change="textChanges()"ng-model="sectionA.a0302" class="input-block-level"/></p>
    <p>3. Die Straße führt an meinem Haus vorbei. Man kann sie wieder befahren.
        <input ng-change="textChanges()"ng-model="sectionA.a0303" class="input-block-level"/></p>
    <p>4. Johann Wolfgang Goethe wurde 1749 geboren. Seine Familie stammt aus Frankfurt am Main.
        <input ng-change="textChanges()"ng-model="sectionA.a0304" class="input-block-level"/></p>
    <p>5. Im Jahre 1492 unterzeichnete Kolumbus den Vertrag über die Expedition nach Asien.
        Er hatte den spanischen König zu dieser Expedition überredet.
        <input ng-change="textChanges()"ng-model="sectionA.a0305" class="input-block-level"/></p>
</section>
<hr/>
<div class="btn-toolbar offset9">
    <div class="btn-group">
        <a class="btn btn-primary" href="#/view2">&larr; Zurück</a>
        <a class="btn btn-primary" href="#/view4">Weiter &rarr;</a>
        <a class="btn btn-inverse disabled" type="submit">Submit</a>
    </div>
</div>